@model IList<ProductModel>

@{
	ViewData["title"] = "Products";
}

<a asp-controller="Products" asp-action="Insert">➕</a>
<br />
<br />


@if (Model is null or { Count: 0 })
{
	<p>No products provided.</p>
}
else
{
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.Qty.ToString()</td>
					<td>@product.Price.ToString("C")</td>
					<td>
						<a asp-controller="Products"
							asp-action="Edit"
							asp-route-id="@product.Id">
							🖋
						</a>
					</td>
					<td>
						<a asp-controller="Products"
							asp-action="Delete"
							asp-route-id="@product.Id"
						>
							❌
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}